.board{
    position: relative;
    margin: auto;
    width: 590px;
    height: 650px;
}
.board>img{
    position: absolute;
    top: 0px;
    left: 0px;
}
.chess{
    width: 60px;
    height: 60px;
    position: absolute;
}